*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h2{
    text-align:center;
    color:lime;
    padding: 30px;
}
nav{
    background-color:green;
    place-items: center;
    display: grid;
}
nav ul{
     list-style-type: none;
   
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color:#000;
    transition: 0.2s ease-in;
    font-size: 18px;
}
nav ul a:hover{
    background-color:lime;
    color:white;
}
.tests{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    column-gap: 20px;
    row-gap: 30px;
}
.test img{
    width: 100%;
    height: 200px;
    object-fit: cover;
   cursor: pointer;
   transition: 0.2s ease;
}
.test img:hover{
    transform: scale(1.05);
}
.test h4{
    padding: 5px;
    text-align: center;
}
.test button{
    padding: 5px 30px;
    margin: 10px 60px;
    border: none;
    background-color: green;
    color: white;   
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}
.test button:hover{
    transform: scale(1.50);
}
@media screen and(max-width:1000px) {
    .tests{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen and(max-width:600px) {
    .tests{
        grid-template-columns: repeat(2,1fr);
    }
    
}